@model PagedList.IPagedList<ModelEF.Model.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lí Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách sản phẩm
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                @Html.ActionLink("Thêm mới", "Create", "Product", new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>LoaiSP_ID  </th>
                                <th>Ảnh</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.UnitCost</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Category.Name</td>
                                    <td>
                                        <img  src="@item.Image" style="width: 50px; height: 50px;"/>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { @id = item.ID })
                                        |
                                        @Html.ActionLink("Xem chi tiết", "Detail", new { @id = item.ID })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <!-- /.table-responsive -->
 
            </div>
        </div>
    </div>
</div>
